*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding-bottom: 30px;
}

[class^="col-"]{
    background-color: rgb(13, 107, 247);
    border: 1px solid white;
    color: white;
    padding: 0.5rem;
    font-size: 0.7rem;
    text-align: center;
}

.bg-green{
    background-color: lime;
    margin: auto;
}
